body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #0D020D;
    color: #E4D7E4;
    font-family: "Outfit", sans-serif;
}
*{
    overflow-x: hidden;

}
.container{
    padding: 0 52px;
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 24px 0;
}
nav .logo{
    font-size: 42px;
    font-family: "Source Serif 4", serif;
}
nav .logo:hover{
    font-weight: 600;
    cursor: pointer;
}
nav a{
    color: #E4D7E4;
    text-decoration: none;
    font-size: 24px;
    font-family: "Domine", serif;
}
nav a:hover{
    border-bottom: 1px solid white;
}
.links{
    display: flex;
    gap: 32px;
    align-items: center;
}
.header{
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    gap: 48px;
    margin-bottom: 120px;
}
.h-heading{
    font-size: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Domine", serif;
}
.h-image img{
    border-radius: 28px;
    height: 672px;
    width: 100%;
}
.images-container{
    display: flex;
    row-gap: 48px;
    flex-wrap: wrap;
    justify-content: space-between;
}
.image-container{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.image-container img{
    height: 277px;
    width: 1/3;
    border-radius: 22px;
}
.image-container img:hover{
    opacity: 80%;
    cursor: pointer;
}
.image-container h1{
    font-size: 20px;
    margin: 0;
}
.image-container p{
    color: rgba(235, 209, 235, 0.62);
    font-size: 17px;
    margin: 0;
}

.main-text h1{
    font-size: 48px;
}

.main-text{
    padding: 120px 240px;
}
.main-text h1{
    text-align: center;
    font-family: "Domine", serif;
    font-size: 48px;
    line-height: 52px;
    letter-spacing: -2%;
    font-weight: 400;
    overflow-y: hidden;
}

.get-touch{
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
    margin-bottom: 32px;
}
.get-touch .left{
    width: 55%;
}
.get-touch .right{
    width: 45%;
}
.get-touch h1{
    font-family: "Domine", serif;
    font-size: 48px;
    line-height: 52px;
    letter-spacing: -2%;
    font-weight: 700;
}

.get-touch p{
    font-size: 24px;
    line-height: 32px;
    font-weight: 400;
    overflow-y: hidden;
}

.contact-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 36px;
    margin-top: 300px;
    margin-bottom: 300px;
}
.contact-header h1{
    margin: 0;
    margin-bottom: 8px;
}
.contact-header p{
    margin: 0;
}
.contact-otp{
    display: flex;
    gap: 12px;
}
.otp{
    width: 56px;
    height: 64px;
    border-radius: 22px;
    background-color: rgba(224, 184, 224, 0.12);
    display: flex;
    justify-content: center;
    align-items: center;
}
.submit{
    width: 400px;
    height: 36px;
    border-radius: 22px;
    background-color: rgba(255, 0, 255, 1);
    border: none;
    color: white;
    font-weight: 500;
    font-size: 15px;
}
.submit:hover{
    background-color: rgb(199, 0, 199);
    cursor: pointer;
}
.skip{
    color: rgba(255, 127, 255, 1);
    font-weight: 500;
    cursor: pointer;
}

.skip:hover{
    text-decoration: underline;
}
.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
}
.footer h1{
    font-family: "Domine", serif;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -2%;
    color: rgba(235, 209, 235, 0.62);
}
.footer button{
    background-color: transparent;
    width: 133px;
    height: 48px;
    border: 1.5px solid rgba(182, 145, 182, 0.2);
    color: rgba(228, 215, 228, 1);
    font-size: 18px;
    font-weight: 500;
    border-radius: 22px;
}

@media screen and (max-width: 520px) {
    .container{
        padding: 0 32px;
    }
    nav{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 36px;
        
    }
    nav .logo{
        font-size: 42px;
    }
    nav a{
        font-size: 16px;
    }
    .h-heading{
        font-size: 60px;
    }
    .header{
        margin-top: 80px;
    }
    .h-image img{
        height: 300px;
        border-radius: 16px;
    }
    .images-container{
        justify-content: center;
    }
    .image-container img{
        width: 100%;
        height: 240px;
        border-radius: 12px;
    }
    .main-text{
        padding: 120px 16px;
    }
    .main-text h1{
        font-size: 28px;
        line-height: 42px;
    }
    .get-touch{
        flex-direction: column;
        
    }
    .get-touch .left{
        width: 100%;
    }
    .get-touch h1{
        overflow: hidden;
        font-size: 42px;
        line-height: 48px;
        margin: 0;
    }
    .get-touch .right{
        width: 100%;
    }
    .get-touch p{
        width: 100%;
        font-size: 20px;
    }
    .contact-form{
        margin-top: 160px;
    }
    .otp{
        width: 42px;
        height: 45px;
    }
    .footer h1{
        font-size: 16px;
    }
    .contact-form{
        margin-bottom: 160px;
    }
    .footer button{
        width: 100px;
        height: 36px;
        font-size: 12px;
        border-radius: 16px !important;
    }
    .submit{
        width: 300px;
        border-radius: 16px;
    }
}
    @media screen and (min-width: 520px) and (max-width: 920px) {
        nav .logo{
            font-size: 42px;
        }
        nav a{
            font-size: 16px;
        }
        .main-text{
            padding: 120px 16px;
        }
        .images-container{
            justify-content: center;
        }
        
    }

    @media screen and (min-width: 920px) and (max-width: 1200px) {
        nav .logo{
            font-size: 42px;
        }
        nav a{
            font-size: 16px;
        }
        .main-text{
            padding: 120px 16px;
        }
    }
